body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav ul {
  display: flex;
  width: 20%;
  margin: auto;
  justify-content: space-around;
}
.nav ul li {
  list-style-type: none;
}

.card-title.h5{
  text-align: center;
}
.image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.card{
  width: 250px;
  margin-bottom: 20px;
}
.card img{
  height: 100%;
  max-width: 100%;
  width: auto;
}
.card__title{
  height: 150px;
}
.col-12 a {
  color: #000;
  text-decoration: none;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.details__width{
  width: 250px;
  margin-bottom: 20px;
}
.details__width img{
  height: 100%;
  max-width: 100%;
  width: auto;
}
.card__hover:hover {
  background-color: rgba(176, 176, 175, 0.1);
}
.shop__text {
  color: #000;
  text-decoration: none;
}
@media screen and (max-width:750px) {
   .col-12{
     align-items: center;
     justify-content: center;
   }
}